API_PORT=5080
POSTGRES_DB=vistoria
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
JWT_KEY=LOCAL-DEVELOPMENT-KEY-VISTORIA-API-CHANGE-IN-PRODUCTION
JWT_ISSUER=Vistor.ia
JWT_AUDIENCE=Vistor.ia.Client
FRONTEND_URL=http://localhost:4200
SMTP_FROM=no-reply@vistoria.local
